{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"env": {
		"commonjs": true
	},
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"ignorePatterns": ["**/node_modules/**"],
	"rules": {
		"no-empty": "off",
		"no-empty-function": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-namespace": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-empty-interface": "off",
		"@typescript-eslint/explicit-member-accessibility": [
			"error",
			{
				"accessibility": "explicit",
				"overrides": {
					"accessors": "explicit",
					"constructors": "no-public",
					"methods": "explicit",
					"properties": "explicit",
					"parameterProperties": "explicit"
				}
			}
		],
		"no-tabs": "off",
		"vue/comment-directive": "off",
		"no-prototype-builtins": "off",
		"no-ex-assign": "off",
		"no-console": "off",
		"semi": ["error", "never"],
		"quotes": ["error", "single"],
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		]
	}
}